.logo-tra-sua3{
    
    background-color: black;
    height: 100px;
    width: 100px;
    border-radius: 50px;
   
    background-size: 75px;
    background-repeat: no-repeat;
    background-position: center;
}

.logo-tra-sua-footer{
  background-color: black;
    height: 80px;
    width: 80px;
    border-radius: 50px;
   
    background-size: 75px;
    background-repeat: no-repeat;
    background-position: center;
}
.bg-light {
    background-color: #96d3e6!important;
}
a {
    color: black; /* Thay đổi màu của đường liên kết */
    text-decoration: none; /* Loại bỏ gạch chân */
  }
  a i {
    
    margin-right: 20px; /* Thêm khoảng cách giữa các icon */
  }
  .fa-search:before {
   
    font-size: x-large;
}
.fa-heart:before {
   
    font-size: x-large;
}
.fa-shopping-basket:before {
   
    font-size: x-large;
}
.fa-user:before {
   
    font-size: x-large;
}
.carousel-item img {
    width: 50%;
    height: auto; /* tự động tính toán chiều cao dựa trên tỷ lệ giữa chiều rộng và chiều cao của ảnh */
    display: block;
    margin: auto; /* căn giữa ảnh */
  }
  .imgCard{
    height: 200px;
    width: 340px;
  }

  .card {
    margin-bottom: 30px;
  }
  .input-header1{
    display: inline-block;
    width: 50%;
  }
  .input-header{
    display: block;
    width: 100%;
    border-radius: 4px;
    padding: 0.375rem 0.75rem;
    border: 1px solid #2d6aaf;
    min-height: 16px;
    border: 0;
    background-color: transparent;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 100%;
  }
  .btn-header1{
    display: inline-block;
  }
  .yello{
    background-color: #0062cc;
    padding: 0.25rem;
    width: 100%;
    border: 1px solid #dee2e6;
  }
  .yello1{
    background-color: #85c847;
    padding: 0.25rem;
    width: 100%;
    border: 1px solid #dee2e6;
  }
  .css-sw0pw3 {
    margin: 0px;
    padding: 0px;
    border-style: none;
    border-width: 1px;
    border-color: unset;
    opacity: 1;
    color: rgb(130, 134, 158);
    font-weight: 500;
    text-decoration: unset;
    font-size: 13px;
    line-height: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: unset;
    max-width: unset;
    min-width: unset;
    transition: color 0.3s ease 0s;
}